# These owners will be the default owners for everything in
# the repo unless a later match takes precedence
* @andreashappe @simonrommer

docs/the-top-10/missing-incident-detection-reaction-capabilities.md @SiegfriedHollerer
docs/the-top-10/inadequate_supply_chain_management.md @SiegfriedHollerer
docs/the-top-10/unknown-assets-and-admin-access.md @simonrommer